body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3,
p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  height: 40px;
  cursor: pointer;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  font-weight: bold;
  background: black;
  border: 0;
  padding: 10px;
  min-width: 120px;
}

button:disabled {
  background: grey;
}

select {
  height: 40px;
  min-width: 100px;
  border-radius: 0;
  margin-right: 5px;
}
